{% extends "base.html" %}
{% import "bootstrap_wtf_index.html" as wtf %}

{% block content %}
    <h1>歡迎使用 F4LazyLifes!</h1>
    <canvas id="plot"></canvas>
    <div class="row justify-content-center mx-2 my-4 p-3">
        <div class="col-9 shadow-sm p-4 bg-light rounded">
            {% if form %}
            {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Global variable for Chart.js instance
    let chartInstance = null; 

    document.getElementById('data-form').addEventListener('submit', async (e) => {
        e.preventDefault();

        // Get input from form
        const start_year = Number(document.getElementById('start_year').value);
        const expense_amount = Number(document.getElementById('expense_amount').value);
        const investment_amount = Number(document.getElementById('investment_amount').value);
        const salary_amount = Number(document.getElementById('salary_amount').value);
        const house_start_year = Number(document.getElementById('house_start_year').value);
        const house_amount = Number(document.getElementById('house_amount').value);
        const down_payment = Number(document.getElementById('down_payment').value);
        const interest = Number(document.getElementById('interest').value);
        const loan_term = Number(document.getElementById('loan_term').value);
        const child_born_at_age = Number(document.getElementById('child_born_at_age').value);
        const investment_ratio = Number(document.getElementById('investment_ratio').value);
        const retire_age = Number(document.getElementById('retire_age').value);

        const inputData = {
            start_year: start_year,
            expense_amount: expense_amount,
            investment_amount: investment_amount,
            salary_amount: salary_amount,
            house_start_year: house_start_year,
            house_amount: house_amount,
            down_payment: down_payment,
            interest: interest,
            loan_term: loan_term,
            child_born_at_age: child_born_at_age,
            investment_ratio: investment_ratio,
            retire_age: retire_age,
        }
    
        // Send data to the server
        const response = await fetch('/process', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ input_data: inputData })
        });

        const result = await response.json();

        const data = {
                datasets: [{
                    label: '當年度投資總額',
                    data: result.data,
                    backgroundColor: 'rgb(255, 99, 132)'
                }],
            };

        // Plot
        if(chartInstance){
            // Update the Plot
            chartInstance.data.datasets[0].data = result.data;
            chartInstance.update();
        } else {
            // Create the Plot
            const ctx = document.getElementById('plot');
            chartInstance = new Chart(ctx, {
                type: 'scatter',
                // data: result.data,
                data: data,
                options: {
                    scales: {
                        x: {
                        type: 'linear',
                        position: 'bottom'
                    }
                    },plugins: {
                    title: {
                        display: true,
                        text: '隨著年紀改變的投資總額'
                    }, tooltip: {
                        enabled: true,
                        callbacks: {
                            label: function (tooltipData) {
                                const year = tooltipData.parsed.x
                                const value = tooltipData.parsed.y

                                return ` ${year}歲時有${value}元的投資`;
                            },
                        },
                    }
                    }
                }});
            }
    })
    </script>
{% endblock %}